$button-colour: #258cd1;
$white:         #fff;
$grey:          #ccc;

@mixin no-rounded-corners {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

@mixin side-padding {
  padding: 0 20px;
}

body {
  // Disable automatic font zooming:
  -webkit-text-size-adjust: 100%;
  font-family: Helvetica, sans-serif;
  text-align: center;
  min-width: 320px;
  min-height: 200px;
}

.reply{
  font-size: 40px;
  line-height: 1.2;
  @include side-padding;
}

form {
  margin: 110px 0 40px;
  @include side-padding;

  input[type="text"] {
    height: 41px;
    width: 225px;
    margin-right: 7px;

    @include no-rounded-corners;

    font-size: 18px;
    padding-left: 8px;
    background-color: $white;
    border: 1px solid $grey;
    vertical-align: bottom;
  }

  button {
    width: 68px;
    height: 41px;

    @include no-rounded-corners;

    font-size: 16px;
    color: $white;
    background: #5dade2;
    padding: 11px 22px;

    vertical-align: middle;
    text-transform: uppercase;
  }
  button:hover {
    background: #258ace;
  }
}

footer { 
  position: absolute;
  width: 100%;
  bottom: 0px;
  
  height: 20px;
  padding: 10px 0;
  background: white;

  font-style: italic;
  font-size: 14px;
}
